#root {
  margin: 0 auto;
}

.App {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  justify-content: center;
}

.App__Navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.App__Hero {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.Hero__Title__Wrapper {

}

.Hero__Title {

}

.Hero__Subtitle__Wrapper {

}

.Hero__Subitle {

}

.Hero__Description__Wrapper {

}

.Hero__Description {
  
}

.App__Content {

}

.App__Footer {

}